*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
header{
    width: 90%;
   
    margin: 0 auto;
}
.container{
    
    width: 100%;
    margin: 30px auto;
   
}
.logo{
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.logoul{
   display: flex; 
    margin-right: 30px;
     
}
.logoa{
    text-decoration: none;
color: #0F0101;
}
.logobot{
    font-weight: 400;
    border-radius: 5px;
    color: aliceblue;
    padding: 1% 2%;
    background-color: rgb(226, 43, 147);
    text-decoration: none;
   /* width: 100px;
   height: 30px; */
   align-items: center;
   
  
}
.logoli{
   margin-inline: 15px;
   font-size: 15px;
    
}
.w1{
    justify-content: space-around;
    align-items: center;
  display: flex;  
  
  width: 100%;
  
}
.div1{
    margin-top: -150px;
    width: 50%;
    height: 430px;
/* border: 1px solid; */
}
.div2{
    width: 30%;
    display: block;
   
}
.imgice{
    margin-left: -250px;
    width: 700px;
    height: 600px;
}
.h1{
    position: absolute;
    width: 650px;
    height: 130px;
    left: 150px;
    top: 250px;
    font-weight: large;
    font-size: 30px;
    
}
.p{
position: absolute;
width: 430px;
height: 78px;
left: 150px;
top: 350px;
color: #0F0101;
font-size: 20px;
}
h5{
    position: absolute;
width: 200px;
height: 16px;
left: 150px;
top: 200px;
font-weight: 700;
font-size: 20px;
}
.buy{
text-align: center;
color: aliceblue;
    position: absolute;
    margin-top: 60px;
width: 100px;
height: 20px;
left: 150px;
top: 440px;
padding: 1% 2%;

background: #D23166;
border-radius: 5px;
}
   .menu{
    display: flex;
    border: 1px ssolid;
    width: 93%;
    margin: 0 auto;

   }
   .e1{
    text-align: center;
    width: 23%;
    margin-inline: 20px;
   
    height: 150px;
   } 
   .sugar{
    padding-top:100px;
    width: 90%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
   }
   .see{
    text-decoration: none;
   }
   .seew{ 
    
    padding: 1% 2%;
    align-items: center;
    text-align: center;
   
    width: 120px;
background-color: #D23166;
   }
   .txt{
    width: 450px;
   }
   .br{
    width: 200px;
   }
   .textsugar{
    margin-left: 50px;
    width: 45%;
   }